@use "../../styles/partials/variables" as *;

.list {
	height: 88vh;
	overflow: auto;
	margin-top: 1rem;
	margin-left: 1rem;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $primary-dark $secondary-dark;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.875rem;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: $primary-dark;
	border-radius: 1.25rem;
}
