@use "../../styles/partials/mixins";
.school {
	&__banner {
		margin-top: 0.25rem;
		background: linear-gradient(
					45deg,
					rgba(255, 175, 189, 0.7),
					rgba(100, 216, 243, 0.7),
					rgba(234, 236, 198, 0.7),
					rgba(245, 146, 176, 0.7),
					rgba(52, 219, 216, 0.7)
				)
				0 0 / 1000% no-repeat,
			url("../../assets/images/school-banner2.jpg");

		min-height: 400px;
		background-position: 25% %25;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__name {
		@include mixins.flex-row-center;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		width: 250px;
		height: 200px;
		margin: -100px auto;
		text-align: center;
		padding: 1rem;
		border-radius: 8px;
		position: relative;
		z-index: 2;

		h1 {
			font-size: 28px;
		}
		@include mixins.tablet {
			width: 350px;
			h1 {
				font-size: 36px;
			}
		}
	}
}

.container {
	width: 100%;
	margin: 0 auto;
	box-shadow: 3px 4px 15px rgb(0 0 0 / 10%);
	border-radius: 30px;
	padding: 8rem 1rem;

	@include mixins.tablet {
		width: 70%;
		padding: 10rem 3rem;
	}
}
