@use "../../styles/partials/variables" as *;
.details {
	display: flex;
	gap: 2rem;
	padding: 1rem;
	margin: 0.25rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 6px;

	&__img {
		width: 200px;
		margin-top: 1rem;
	}
	&__info {
	}
}

.selected {
	background-color: $secondary-dark;
}
