@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins";

.details {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	margin: 0.25rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 6px;

	@include mixins.desktop {
		flex-direction: row;
	}

	&__img-wrapper {
		@include mixins.flex-row-center;
		flex-grow: 1;
	}

	&__img {
		display: none;
		text-align: center;

		@include mixins.tablet {
			display: block;
			width: 150px;
		}

		@include mixins.desktop {
			width: 200px;
		}
	}

	&__info {
		flex-grow: 2;
	}

	&__tag {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.25rem;
	}

	&__link {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.25rem;
		text-decoration: none;
		color: $primary-dark;
	}
}

.selected {
	background-color: $secondary-dark;
}
