@use "../../styles/partials/variables" as *;
.login {
	width: 100%;
	display: flex;
	margin-top: 6.75rem;

	&__container {
		padding: 60px;
		margin: auto;
		width: 100%;
		min-height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 20px 2px;

		background: linear-gradient(
			180deg,
			rgba(0, 66, 100, 1) 10%,
			rgba(0, 109, 146, 1) 73%,
			rgba(91, 204, 246, 0.6113795860140931) 100%
		);
		box-shadow: 0 5px 7px -20px rgba(0, 0, 0, 0.8);
	}

	&__label {
		color: white;
		margin-bottom: 0.5rem;
		display: block;
		font-size: 1.2rem;
		line-height: 1;
	}

	&__input {
		width: 100%;
		border: none;
		outline: none;
		font-size: 1.1875rem;
		padding: 10px;
		background: rgba(255, 255, 255, 0.1);
		color: $primary-light;
		letter-spacing: 1px;
		border-radius: 4px;
	}

	&__btn-container {
		width: 100%;
		padding: 0.875rem 0;

		p {
			margin: 10px 0 0 0;
			text-align: right;
			color: $primary-light;
		}
	}

	&__span {
		color: $secondary-dark;
		font-weight: 500;
		letter-spacing: 0.5px;
		margin-left: 5px;
		cursor: pointer;
		transition: all 400ms ease-in-out;
		&:hover {
			color: $primary-dark;
		}
	}

	&__error {
		color: $reject-red;
		font-size: 16px;
	}

	&__button {
		border: none;
		outline: none;
		width: 100%;
		padding: 15px 0;
		color: $primary-cta;
		font-size: 16px;
		letter-spacing: 1px;
		background: $primary-dark;
		border-radius: 4px;
		cursor: pointer;
		&:hover {
			background-color: $secondary-dark;
		}
	}
}
